:root {
    --bg-arrow-color: rgba(0, 0, 07);
    --bg-input-color: #242424;
    --bg-white-color: #fff;
    --bg-mediumgrey-color: #a7a7a7;
    --bg-ligthgrey-color: #b3b3b3;
    --bg-black-color: #000;
}