:root {
    --bg-arrow-color: rgba(0, 0, 07);
    --bg-input-color: #242424;
    --bg-white-color: #fff;
    --bg-mediumgrey-color: #a7a7a7;
    --bg-browngrey-color: #6a6a6a;
    --bg-ligthgrey-color: #b3b3b3;
    --bg-black-color: #000;
    --bg-blackgrey-color: #121212;
    --bg-darkgrey-color: #181818;
    --bg-green-color: #1db954; 
}